body{
    background: #333333;
    margin: 0;
    color: whitesmoke;
    text-align: center;
}

.mainGrid{
    margin: auto;
    width: max-content;
    display: grid;
    grid-template-columns: repeat(4, 100px);
    gap: 10px;
    box-sizing: border-box;
}
.box{
    height: 100px;
    background: black;
    border: 5px solid lightgray;
    cursor: pointer;
}